.voting {
    text-align: center;
    padding: 20px;
    position: relative;
    /* background-color: #FFFFFF; */
  }
  
  .user-details {
    margin: 50px auto;
    padding: 15px;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 10px;
    width: 450px;
    text-align: left;
    /* color: #007bff; */
    /* color: black; */
    background-color: #fcfcfc;
  }
  
  .vote-button {
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: hwb(0 100% 0%);
    color: rgb(15, 6, 6);
    border-radius: 5px;
    /* border: 5px solid green; */
    cursor: pointer;
  }
  
  .vote-button:hover {
    background: linear-gradient(to bottom, #e4c06e 33%, #FFFFFF 33% 66%, hsl(122, 42%, 58%) 66%);
  }
  
  /* Popup styles */
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(122, 32%, 55%); /* Green background */
    color: #050505;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeIn 0.1s ease-in-out;
    width: 30%;
    font-size: medium;
    font-weight: 600;
  }
  .popup p{
    color: black;
    font-size: large;
    font-weight: 600;

  }


  .user-details strong{
    color: black;
    
  }
  .user-details p{
    color: black;
    font-weight: bold;
  }
  .wallet-div p{
   text-align: end;
   color: #000000;
   font-size: medium;
   font-weight: bold;
  }